<!-- Cabeçalho Superior Fixo da Tela -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Portal Mobile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Conteúdo Principal Rolável -->
<!-- 💡 class="ion-padding": utilitário nativo Ionic que aplica espaçamento interno padrão mobile -->
<!-- 💡 class="custom-background": classe customizada no SCSS para definir a cor de fundo -->
<ion-content class="ion-padding custom-background">

  <!-- 📌 POR QUE UMA DIV ENVOLVENDO O CARD? (login-container) -->
  <!-- Ela funciona como um wrapper de layout responsivo: limita a largura em 450px e centraliza a tela (margin: 0 auto) em tablets/desktops -->
  <div class="login-container">
    
    <!-- 📌 POR QUE A HIERARQUIA DO CARD? -->
    <!-- ion-card agrupa visualmente o formulário. Ele engloba o ion-card-header (título/subtítulo) e o ion-card-content (inputs e botões) -->
    <ion-card class="login-card">
      
      <ion-card-header>
        <ion-card-title>Acesso ao Sistema</ion-card-title>
        <ion-card-subtitle>Informe suas credenciais para continuar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <!-- 📌 POR QUE O ION-ITEM ENVOLVE O ION-INPUT? -->
        <!-- ion-item alinha o campo com bordas e espaçamentos padrão de formulários Ionic -->
        <!-- 💡 SINTAXE IONIC 7+: label="..." e labelPlacement="stacked" ficam dentro do ion-input, eliminando a tag <ion-label> antiga -->
        <ion-item lines="full" class="custom-item">
          <ion-input label="E-mail" labelPlacement="stacked" type="email" placeholder="seu.email@exemplo.com"></ion-input>
        </ion-item>

        <!-- Campo Senha com rótulo embutido -->
        <ion-item lines="full" class="custom-item">
          <ion-input label="Senha" labelPlacement="stacked" type="password" placeholder="Digite sua senha"></ion-input>
        </ion-item>

        <!-- Botões de Ação com classe utilitária ion-margin-top para criar espaçamento superior -->
        <ion-button expand="block" color="primary" class="ion-margin-top">
          Entrar
        </ion-button>

        <ion-button expand="block" fill="outline" color="secondary" class="ion-margin-top">
          Criar Conta
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item>
      <ion-label>
        <h2>Status API</h2>
        <p>BackEnd node/Expess ativa</p>
        </ion-label>
      </ion-badge>slot="end" color="sucesso">Online</ion-badge>
      </ion-item>
    </ion-list>  

  </div>
</ion-content>
