.from-container{
    max-width: 480px;
    margin: 0 auto;
    padding-top: 16px;
}

.from-card{
    border-radius: 16px;
    box-shadow: 0 4px 16px gray;
}

.feedback-msg{
    font-size: 0.9rem;
    font-weight:600;
    margin:4px 0;
}

ion-button{
    height: 48px;
}